/* Josh Boettcher Module 7.2 2/8/2022 */ 
body {
    margin: 0;
    font-family: 'EB Garamond';
}

header {
    background-color: #009639;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Averia Serif Libre';
    font-weight: 600;
}

h2 {
    font-family: 'Averia Serif Libre';
    font-weight: 600;
    text-align: center;
    color:#FF6f2e;
}

#navbar {
    padding:10px;
    overflow: hidden;
    background-color: #FF6f2e;
    border-top: 4px solid #c7ff3b;
    border-bottom: 4px solid #c7ff3b;
    width:100%;
}

#navbar a {
    float: none;
    color: white;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    font-size: 25px;
}

#navbar a:hover {
    color:#FF6f2e;
    background-color: #c7ff3b;
    padding:50px;
}

#container {
    display: flex;
    width: auto;
    height: auto;
    justify-content:center;
    align-items: center;
  }
  
#image{
    width: auto; 
    height:auto;
}

#text{
    width: 500px; 
    height:auto; 
    background-color:white;
    padding:25px;
}

figure {
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    color: #ff6f2e;
}

footer {
    position:relative;
    padding:10px;
    background-color: #009639;
    width: 100%;
}